<!DOCTYPE html>

{# macros/confetti.html #}
{% macro launch_confetti(sound="yes") %}
<script>
  window.launchConfetti = function() {
    // Confetti.js (canvas-confetti) integration
    if (window.confetti) confetti({ particleCount: 120, spread: 80, origin: { y: 0.6 } });
    // Play sound if available and allowed
    {% if sound == "yes" %}
    try {
      let audio = new Audio("{{ url_for('static', filename='audio/cheer.mp3') }}");
      audio.volume = 0.5; audio.play();
    } catch(e) {}
    {% endif %}
  };
</script>
{% endmacro %}
