{# ===================== Flash Messages ===================== #}
{%- with messages = get_flashed_messages(with_categories=true) -%}
  {%- if messages -%}
    <div aria-atomic="true" aria-live="assertive"
         class="fixed top-4 inset-x-0 mx-auto max-w-xl z-50 space-y-2" role="region">
      {%- for category, message in messages -%}
        <div class="px-6 py-4 rounded-lg shadow-lg animate-slide-down transition-all duration-500
            {% if category == 'success' %}bg-green-200 text-green-900
            {% elif category == 'warning' %}bg-yellow-200 text-yellow-900
            {% elif category == 'danger' %}bg-red-200 text-red-900
            {% else %}bg-zinc-800 text-white{% endif %}"
             role="alert">
          {{ message }}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endwith -%}

